/* wide screen styles */
/*.et-wrapper{
	height:950px !important;
}

.left{
	height:950px !important;
}

.right{
	height:950px !important;
}*/

.et-wrapper, .et-page{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

.portfolio{
	/*background-image: url(../img/panelbgs/13.jpg);*/
	background-position: -170px 0px;
	background-size: auto 100%;
}

.rightpanel .content{
	top:700px;
}

.main-image{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 40px;
}

.main-content{
	width: 620px;
	padding-bottom: 10px;
}

.main-content h1{
	color: #c0392b;
}
.main-arrow-left{
	width: 30px;
	position: absolute;
	top:130px;
	left:10px;
}

.main-arrow-right{
	width: 30px;
	position: absolute;
	top:130px;
	right:0px;
}

/* Home */
.left .main{
	top: 420px;
	padding:20px 50px 30px 20px;
}

.left .main h1{
	margin-bottom: 30px;
}

.left .main p{
	font-size: 20px;
	line-height: 34px;
	color: #eee;

}

.left.home .main p{
	color:#222;
}

.rightpanel .title{
	height: 100px;
	top:-100px;
	line-height: 100px;
	font-size: 20px;
}

/* Portfolio Fix */
.left.pgbg .main{
	top:180px;
	color: #eee;
}

.left.pgbg .main p{
	font-size: 20px;
	line-height: 36px;
	/*padding-top:30px;*/
}

.double-column{
	margin-top:240px;
}

.double-column p{
	font-size: 16px;
	line-height: 34px;
}

/* Projects Fix */


.tagline p{
	padding: 100px;
	padding-bottom: 120px;
}

.left.prbg .projects-thumb{
	padding-top:40px;
}
.left.prbg .projects-thumb img{
	width: 55%;
}
.left.prbg .main{
	top:60px;
}
.left.prbg .main h1{
	margin-bottom: 40px;
}

.left.prbg .main p{
	font-size: 19px;
	line-height: 36px;
}

.showcase{
	width: 630px;
	height:590px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

/* Contactform */
.left.contactpage .main{
	top:150px;
}
.left.contactpage .main .double-column{
	padding:0px 100px 0px 0px;
}

.left.contactpage .main .double-column p{
	padding-top: 20px;
}

#contactform {
	padding-top:50px;
}